{{> header}}
 
{{> navbar}}


<div class="row">

<div class="col-8"></div>
<h1>Este es el about {{getAnio}}</h1>
</div>

<div class="col-4">
    <img src="./assets/img/Crossed_09[2].jpg" >
</div>






{{> footer}}